</main>
<footer class="main-footer">
    <div class="footer-sections">
        <div>
            <h4>Resources</h4>
            <a href="#">Find A Store</a>
            <a href="#">Become a Member</a>
            <a href="#">About us</a>
        </div>
        <div>
            <h4>Help</h4>
            <a href="#">Get Help</a>
            <a href="#">Order Status</a>
            <a href="#">Delivery</a>
            <a href="#">Returns</a>
            <a href="#">Contact Us</a>
        </div>
        <div>
            <h4>Company</h4>
            <a href="#">About SoleStyle</a>
            <a href="#">News</a>
            <a href="#">Careers</a>
        </div>
    </div>

    <div class="copyright">
        &copy; 2024 SoleStyle, Inc. All rights reserved
    </div>
</footer>
<script src="/js/theme.js"></script>
</body>

</html>